* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

.box {
    display: flex;
    gap: 20px;

    flex-wrap: wrap;
}

.bulb{
    height: 100px;
    width: 100px;

    border-radius: 50%;

    background-color: #252525;

    transition: all 0.3s linear;
}

.on{
    background-color: #ffe66a;
}