* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

main {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 90rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .view-1 {
  width: 100%;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .view-1 .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-1 .top h1 {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 300;
}
main .view-1 .top p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4;
}
main .view-1 .bottom .images {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view-1 .bottom .secondary {
  display: none;
}
main .view-1 .bottom .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-1 .bottom .card .top {
  border-radius: 1rem;
  overflow: hidden;
}
main .view-1 .bottom .card .top img {
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
main .view-1 .bottom .card .top img:hover {
  transform: scale(1.1);
}
main .view-1 .bottom .card .bottom {
  display: flex;
  justify-content: space-between;
}
main .view-1 .bottom .card .bottom h1,
main .view-1 .bottom .card .bottom p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
main .view-1 .bottom .card .bottom h1 {
  font-weight: 200;
}
main .view-1 .bottom .card .bottom p {
  opacity: 0.6;
  font-weight: 100;
}
main .view-2 {
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view-2 .title p {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
}
main .view-2 .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view-2 .content .content-heading {
  font-size: 2.5rem;
  font-weight: 200;
}
main .view-2 .content .elements {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
main .view-2 .content .elem {
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 0.75rem;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view-2 .content .elem .title {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main .view-2 .content .elem .title .number {
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
}
main .view-2 .content .elem .title h1 {
  font-size: 1.75rem;
  font-weight: 300;
}
main .view-2 .content .elem p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
  opacity: 0.6;
}
main .view-2 .content .elem a {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: black;
}
main .view-3 {
  padding-inline: 2rem;
}
@keyframes marquee-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
main .view-3 .marquee {
  border-radius: 1rem;
  overflow: hidden;
  background-color: black;
  padding-block: 2rem;
  display: flex;
}
main .view-3 span {
  display: flex;
  animation-name: marquee-animation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  outline: 1px solid red;
}
main .view-3 img {
  height: 1.2rem;
  margin-inline: 3rem;
}

@media (min-width: 1020px) {
  main {
    padding-top: 12rem;
    gap: 9rem;
  }
  main .view-1 {
    padding-inline: 4rem;
  }
  main .view-1 .top {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  main .view-1 .top h1 {
    font-size: 5rem;
    text-align: left;
  }
  main .view-1 .top p {
    text-align: left;
  }
  main .view-1 .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  main .view-1 .bottom .images {
    width: 100%;
    flex-direction: row;
  }
  main .view-1 .bottom .images .card {
    width: 33%;
  }
  main .view-1 .bottom .images .card .top {
    width: 100%;
  }
  main .view-1 .bottom .images .card .top img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .view-1 .bottom .images .card .bottom {
    flex-direction: row;
  }
  main .view-1 .bottom .secondary {
    display: flex;
  }
  main .view-2 {
    flex-direction: row;
    padding-inline: 7rem;
  }
  main .view-2 .title {
    width: 40%;
  }
  main .view-2 .title p {
    position: sticky;
    top: 3rem;
  }
  main .view-2 .content {
    width: 60%;
  }
  main .view-2 .content .content-heading {
    font-size: 4.5rem;
  }
}