* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}


@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 90rem;

    @include flex-column(3rem);

    .view-1 {
        width: 100%;
        padding-inline: 2rem;

        @include flex-column(3rem);

        .top {

            @include flex-column(1rem);

            h1 {
                font-size: 3.2rem;
                text-align: center;
                font-weight: 300;
            }

            p {
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.4;
            }
        }

        .bottom {

            .images {
                @include flex-column(1.5rem);
            }

            .secondary {
                display: none;
            }

            .card {

                @include flex-column(1rem);

                .top {
                    border-radius: 1rem;
                    overflow: hidden;

                    img {
                        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                }



                .bottom {
                    display: flex;
                    justify-content: space-between;

                    h1,
                    p {
                        font-size: 1rem;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    h1 {
                        font-weight: 200;
                    }

                    p {
                        opacity: 0.6;
                        font-weight: 100;
                    }
                }
            }
        }
    }

    .view-2 {
        padding-inline: 2rem;

        @include flex-column(2rem);

        .title {
            p {
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                font-size: 0.75rem;
            }
        }

        .content {

            @include flex-column(2rem);


            .content-heading {
                font-size: 2.5rem;
                font-weight: 200;
            }

            .elements {
                display: flex;
                gap: 2rem;

                flex-wrap: wrap;
            }

            .elem {
                background-color: whitesmoke;
                padding: 2rem;
                border-radius: 0.75rem;
                max-width: 370px;

                @include flex-column(2rem);

                .title {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    .number {
                        padding-inline: 1rem;
                        padding-block: 0.75rem;
                        border-radius: 0.5rem;
                        background-color: black;
                        color: white;
                    }

                    h1 {
                        font-size: 1.75rem;
                        font-weight: 300;
                    }
                }

                p {
                    font-family: Arial, Helvetica, sans-serif;
                    line-height: 1.5;
                    font-size: 1.1rem;
                    opacity: 0.6;
                }

                a {
                    text-transform: uppercase;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 0.75rem;
                    color: black;
                }
            }
        }
    }

    .view-3 {
        padding-inline: 2rem;

        @keyframes marquee-animation {
            from {
                transform: translateX(0%);
            }

            to {
                transform: translateX(-100%);
            }
        }

        .marquee {
            border-radius: 1rem;
            overflow: hidden;
            background-color: black;
            padding-block: 2rem;
            display: flex;
        }


        span {
            display: flex;
            animation-name: marquee-animation;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            outline: 1px solid red;

          
        }

    

        img {
            height: 1.2rem;
            margin-inline: 3rem;
        }
    }
}


@media (min-width:1020px) {
    main {
        padding-top: 12rem;

        gap: 9rem;

        .view-1 {
            padding-inline: 4rem;

            .top {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;

                h1 {
                    font-size: 5rem;
                    text-align: left;
                }

                p {
                    text-align: left;
                }
            }

            .bottom {
                width: 100%;

                @include flex-column(2rem);

                .images {
                    width: 100%;
                    flex-direction: row;

                    .card {
                        width: 33%;

                        .top {
                            width: 100%;

                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        .bottom {
                            flex-direction: row;
                        }
                    }
                }

                .secondary {
                    display: flex;
                }
            }
        }

        .view-2 {
            flex-direction: row;
            padding-inline: 7rem;

            .title {
                width: 40%;

                p {
                    position: sticky;
                    top: 3rem;
                }
            }

            .content {
                width: 60%;

                .content-heading {
                    font-size: 4.5rem;
                }
            }
        }
    }
}