* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html{
    background-color: black;
}

body{
    height: 500vh;

    background-color: black;

    background: linear-gradient(rgb(94, 94, 94) 1px,transparent 1px),linear-gradient(to right,rgb(94, 94, 94) 1px,transparent 1px);

    background-size: 50px 50px;
}

.capsule{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    width: 300px;

    background-color: white;
    border-radius: 50px;
    padding-inline: 20px;
    padding-block: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.capsule h1{
    font-size: 20px;
    font-weight: 500;
}

.icon{
    display: none;
}

.capsule.scrolling h1{
    display: none;
}


.capsule.scrolling{
    border-radius: 50%;
    height: 60px;
    width: 60px;

    background-color: #ff0055;
    box-shadow: 0px 0px 30px #ff0055;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.capsule.scrolling .icon{
    display: block;
    font-size: 27px;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}