* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffcf7;
}



body {
    padding: 20px;
}

nav svg {
    width: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 35px;
}

nav .left,
nav .right {
    display: flex;
    gap: 5px;
    align-items: center;
}

nav .left {
    gap: 15px;
}

nav .right {
    gap: 20px;
}

nav .right p {
    font-family: monospace;
}

nav .right button {
    background-color: rgb(17, 17, 17);
    color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;
    padding-inline: 20px;
    padding-block: 10px;
}

nav .right .line {
    width: 1px;
    background-color: black;
    height: 70%;
}

nav .right .circle {
    border: 1px solid black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    width: 35px;
    font-size: 12px;

    aspect-ratio: 1/1;
}

nav .right .slider {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-block: 7px;
    padding-right: 20px;
    padding-left: 5px;
    border-radius: 20px;
}

nav .right .slider svg {
    width: 20px;
}

nav #svg11433201360 {
    width: 75px;
}

main {
    width: 100%;
    border: 1px solid black;
    padding-inline: 100px;
    padding-block: 25px;
}


.view-1 {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.view-1 h1 {
    font-size: 100px;
    font-weight: 200;
    line-height: 1;
}

.view-1 img {
    margin-top: 40px;
    border-radius: 15px;
}

.view-2 {
    display: flex;
    padding-block: 70px;
    gap: 50px;
    justify-content: space-between;
}

.view-2 .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view-2 .left .top h1 {
    font-size: 100px;
    font-weight: 200;
}

.view-2 .left .bottom button {
    background-color: rgb(17, 17, 17);
    color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;
    padding-inline: 20px;
    padding-block: 10px;
}

.view-2 .line {
    width: 1px;
    align-self: stretch;
    background-color: black;
}

.view-2 .right {
    display: flex;
    flex-direction: column;

    gap: 40px;
}

.view-2 .right .line {
    width: 100%;
    height: 1px;
    background-color: black;
}


.view-2 .right .elem {
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.view-2 .right h1 {
    text-transform: uppercase;
    font-weight: 100;
}

.view-2 .right p {
    line-height: 1.5;
    word-spacing: 5px;
    font-weight: 100;
    opacity: 0.6;
}

.view-2 svg {
    width: 50px;
}

.view-3 {
    display: flex;
    border-bottom: 2px solid black;
    padding-bottom: 60px;
}

.view-3 .left .text {
    position: sticky;
    top: 150px;
    max-width: 350px;
}

.view-3 .left .text h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 200;
}

.view-3 .left .text p {
    font-size: 20px;
    line-height: 1.5;
    word-spacing: 3px;
    opacity: 0.6;
    font-weight: 100;

}

.view-3 .line {
    align-self: stretch;
    width: 1px;
    background-color: black;
    margin-inline: 30px;
    margin-left: auto;
}


.view-3 .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
}

.view-3 video {
    max-width: 550px;
    aspect-ratio: 5/3.5;
    border-radius: 15px;
    object-fit: cover;
}

footer {
    margin-top: 80px;

    display: flex;
    gap: 30px;
}

footer svg {
    max-width: 50px;
}

footer .left {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 30%;
}

footer .left .top {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer .left .top .icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .left .top .icons #svg11433201360 {
    max-width: 70px;
}

footer .left .bottom{
    display: flex;
    gap: 10px;
}

footer .left .bottom .circle{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

footer .line{
    width: 1px;
    background-color: black;
    align-self: stretch;
}

footer .right{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

footer .right .column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .right .column h1{
    margin-bottom: 10px;
    font-weight: 100;
}

footer .right .column p{
    text-transform: uppercase;
}

footer .right .column button {
    margin-top: 10px;

    background-color: #0f0f0f;
    color: #fffcf7;

    border-radius: 10px;
    border: none;

    padding-inline: 20px;
    padding-block: 10px;
}