* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 5rem;
    position: relative;
    color: transparent;
}

h1::after,
h1::before {
    content: "DOMINATION";
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    transition: all 0.3s linear;
}

h1::before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    color: white;
}

h1::after {
    color: white;
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

h1:hover::before{
    transform: translate(-1% ,-3%);
}
h1:hover::after{
    transform: translate(1%,3%);
}