* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


:root {
    --x: 0px;
    --y: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #111;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.mouse-follower {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    background-color: #fff;
    top: 0;
    left: 0;

    position: absolute;

    transition: all 0.1s linear;
    mix-blend-mode: difference;

    transform: translate(calc(var(--x) - 50%), calc(var(--y) - 50%));
}

.second {
    transition-duration: 0.15s;
    transform: translate(calc(var(--x) - 50%), calc(var(--y) - 50%)) scale(0.8);
}

.third {
    transition-duration: 0.2s;
    transform: translate(calc(var(--x) - 50%), calc(var(--y) - 50%)) scale(0.6);
}