* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    color: wheat;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;

    background-color: rgba(245, 222, 179, 0.145);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    width: fit-content;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

nav p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 8px;
}

nav button {
    background-color: rgb(255, 244, 224);
    border: none;

    font-size: 8px;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding-top: 5px;
    padding-bottom: 5px;

    padding-left: 8px;
    padding-right: 8px;
}