* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    padding-inline: 7rem;
    padding-block: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

nav {
    background-color: rgb(16, 16, 16);
    color: rgb(247, 247, 247);

    padding-inline: 2rem;
    padding-block: 1.5rem;

    border-radius: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav .right p {
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

nav .right .zero {
    background-color: rgb(74, 74, 74);
    border-radius: 50%;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

nav .right button {
    border: none;
    padding-inline: 2rem;
    padding-block: 1rem;

    border-radius: 2rem;

    background-color: orangered;
    color: rgb(244, 244, 244);
}

.view-1 {
    width: 100%;
    height: 90vh;

    border-radius: 3rem;
    padding-inline: 3rem;
    padding-block: 3rem;
    background-image: url(/hero-bgi.webp);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;


}

.view-1 img {
    width: 100%;
    mix-blend-mode: difference;
}

.view-1 p {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
    color: white;
    mix-blend-mode: difference;
}

.view-2 {
    background-color: orangered;
    padding-inline: 3rem;
    padding-block: 3rem;
    border-radius: 3rem;

     color: white;

     display: flex;
     flex-direction: column;

     gap: 15rem;
}

.view-2 .we-do{
    background-color: white;
    padding-inline:2rem ;
    padding-block: 1rem;
    color: black;
    width: fit-content;
    border-radius: 3rem;
}


.view-2 p{
    font-size: 5rem;
    font-weight: 200;
}

.view-2 span{
    opacity: 0.6;
}