* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


main {
    width: 100%;
}

section {
    padding: 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section .top {
    width: 100%;
    position: relative;
}

section .top video {
    width: 100%;
    object-fit: cover;

    border-radius: 2rem;
    aspect-ratio: 10/16;
}

section .top .text {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    background-color: white;

    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-radius: 1rem;

    display: flex;

    gap: 1rem;
}

section .top .left {
    padding-top: 0.25rem;
}

section .top .text h1 {
    font-size: 1.3rem;
    font-weight: 300;
}

section .top .text p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    opacity: 0.7;
}

section .bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section .bottom .eco-friendly,
section .bottom .natural {
    background-color: #e8f1ea;
    padding-inline: 2rem;
    padding-block: 3rem;
    border-radius: 1rem;

    position: relative;
    overflow: hidden;
}

section .bottom .eco-friendly img {
    position: absolute;
    bottom: 0;
    right: -2%;

    height: 80%;

}

section .bottom .eco-friendly .text,
section .bottom .natural .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

section .bottom .eco-friendly .text i {
    font-size: 3rem;
    margin-bottom: 3rem;
}

section .bottom .eco-friendly .text h1,
section .bottom .eco-friendly .text h1 i,
section .bottom .natural .text h1 i,
section .bottom .natural .text h1 {
    font-size: 1.6rem;
}

section .bottom .eco-friendly .text p,
section .bottom .natural .text p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
}

section .bottom .natural {
    background-color: #4d584f;
    color: white;
}

section .bottom .natural h1 {
    font-size: 1.2rem;
}

section .bottom .natural {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

section .bottom .natural img {
    position: absolute;
    left: -17%;
    transform: rotate(15deg);

    height: 100%;

}


@media (min-width:1020px) {

    section {
        flex-direction: row;
        padding-inline: 7rem;
    }

    section .top {
        aspect-ratio: 1/1;
    }

    section .top video {
        aspect-ratio: initial;
        width: 100%;
        height: 100%;
    }

    section .top,
    section .bottom {
        width: 50%;
    }

    section .bottom .eco-friendly,
    section .bottom .natural {
        padding-inline: 4rem;
        padding-block: 4rem;
    }

    section .bottom .eco-friendly .text h1,
    section .bottom .eco-friendly .text h1 i,
    section .bottom .natural .text h1,
    section .bottom .natural .text h1 i {
        font-size: 3rem;
        font-weight: 400
    }

}