* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    position: relative;
    color: transparent;
}

.box::after,
.box::before {
    content: "DOMINATION";
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    transition: all 0.3s linear;
}

.box::before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.box::after {
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

.box:hover::before {
    transform: translateY(-2px) translateX(-4px);
}
.box:hover::after {
    transform: translateY(2px) translateX(4px);
}