* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    background-color: #111;

    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding-block: 100px;
    padding-inline: 100px;

    gap: 40px;
}

textarea{
    width: 600px;
    height: 200px;
    border: none;
    outline: none;

    padding: 10px;
    border-radius: 10px;

    background-color: #222;

    color: white;

    font-family: monospace;

    font-size: 30px;
}

.board{
    width: 800px;
    min-height: 400px;

    background-image: url(paper.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 30px;

    border-radius: 20px;


    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.spacer{
    width: 60px;
}

.img-cover{
    height: 75px;
    
}

.img-cover img{
   height: 100%;
}

.word{
    display: flex;
}