* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}

html {}


.grand-parent {
    height: 50vh;
    width: 50vw;

    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
}

.parent {

    height: 50%;
    width: 50%;
    background-color: purple;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;

}

.child {
    height: 80%;
    width: 80%;
    background-color: green;

    font-size: 20px;
    border-radius: 1em;
}