* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

nav{
    display: flex;
}

a{
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding-inline: 30px;
    padding-block: 10px;
    display: flex;

    transition: all 0.3s linear;
}

nav:has(a:hover) a:not(:hover){
    transform: scale(0.8);
}

a:hover{
    transform: scale(1.4);
}